<!doctype html>
<html>
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {staticPlot: true});;
                }
            });
        }
    </script>

</head>

<body style="font-family:arial, sans-serif">

<!-- <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Cryptos
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="http://127.0.0.1:5000/CryptoPlot/Binance_Coin"></a>Bitcoin_Cash</li>
        <!-- <li><a class="dropdown-item" href="CryptoPlot/Binance_Coin"></a>Binance_Coin</li>
        <li><a class="dropdown-item" href="CryptoPlot/Bitcoin"></a>Bitcoin</li>
        <li><a class="dropdown-item" href="CryptoPlot/EOS.IO"></a>EOS</li>
        <li><a class="dropdown-item" href="CryptoPlot/Ethereum_Classic"></a>Ethereum_Classic</li>
        <li><a class="dropdown-item" href="CryptoPlot/Ethereum"></a>Ethereum</li>
        <li><a class="dropdown-item" href="CryptoPlot/Litecoin"></a>Litecoin</li>
        <li><a class="dropdown-item" href="CryptoPlot/Monero"></a>Monero</li>
        <li><a class="dropdown-item" href="CryptoPlot/TRON"></a>TRON</li>
        <li><a class="dropdown-item" href="CryptoPlot/Stellar"></a>Stellar</li>
        <li><a class="dropdown-item" href="CryptoPlot/Cardano"></a>Cardano</li>
        <li><a class="dropdown-item" href="CryptoPlot/IOTA"></a>IOTA</li>
        <li><a class="dropdown-item" href="CryptoPlot/Maker"></a>Maker</li>
        <li><a class="dropdown-item" href="CryptoPlot/Dogecoin"></a>Dogecoin</li>
    <!-- </ul>  -->
</div>
    <h1>Cryptocurrency</h1>
    <p>Choose your currency (avoid blanks - e.g. Binance_Coin)</p>
    <!-- <p>Avoid blanks (eg Binance_Coin)</p> -->
    <input type="text" id="fname" name="fname" onchange="cb(this.value)">
    <div id="chart" class="chart"></div>
</body>

<script>
    d = {{ graphJSON | safe }};
    //d.config={staticPlot: true};
    Plotly.newPlot('chart', d, {});
    
</script>
</html>