<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="authors" content="Gauthier, Bellanger, Bou Farhat, Deni">
    <title>ENSAE</title>

</head>

<body style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTF1Ciq_3pPCqWXBKDX-u-8BhxCV3RaORTnQ&usqp=CAU');
            background-size: 100%;
            background-repeat: no-repeat;
            color: white">
    
    <header>
        <li>{{ current }}.</li>
    </header>
    

    <div class="container">
        
        <section>
            <h1 style="color:green">Crypto Toolbox App</h1>
            <p>A cryptocurrency is a tradable digital asset or digital form of money, built on blockchain technology that only exists online. Cryptocurrencies use encryption to authenticate and protect transactions, hence their name. There are currently over a 
                thousand different cryptocurrencies in the world. Over the last few years, cryptocurrency prices have risen and then fallen. Crypto marketplaces do not guarantee that an investor is completing a purchase or trade at the optimal price. As a result, 
                many investors take advantage of this by using arbitrage to find the difference in price across several markets</p>
            <p>This Toolbox allows you to retrieve the price, volumes and predictions for your favourite crypto!</p>    
        </section>
    

        <aside>
            <h1 style="color:green">Menu</h1>
            <li><a href="/history" style="color:white; font-weight: bold; font-size: x-large;">Get your plots</a></li>
            <li><a href="/predictions" style="color:white; font-weight: bold; font-size: x-large;">Get your predictions</a></li>
            <li><a href="/callback/getStock" style="color:white; font-weight: bold; font-size: x-large;">other</a></li>
        </aside>
    
    </div>  

    <footer style="color:white; font-size: small; position: relative;height: 200px;margin-top: 200px;">
    </p>>A project by David Gauthier, Boris Bellanger, Nathalie Bou Farhat, Giuseppe Deni</p>  
    </footer>

</body>
</html>
